<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: "Yunrui Lu" }}</title>

  <!-- Google Site Verification -->
  <meta name="google-site-verification" content="u5syEl1XILoAdrruOgX08T3VDeSLEQeH_YyZqRL3Zsc" />

  <meta name="description" content="{{ page.description | default: 'I\'m a Bioengineering PhD student at Caltech.' }}" />
  <link rel="icon" href="/images/icon.png" type="image/png" />
</head>
<body>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
</body>
</html>
